.user-filters {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.user-filters input {
  margin-right: 5px;
  padding: 5px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.user-table th:nth-child(3),
.user-table td:nth-child(3),
.user-table th:nth-child(4),
.user-table td:nth-child(4) {
  display: none;
}

.user-table th,
.user-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: #f5f5f5;
}

.user-table tr {
  transition: background-color 0.2s ease-in-out;
}

.user-table tbody tr:hover {
  background-color: #e3e3e3;
}

.user-table td[data-clickable="true"],
.user-table th[data-sort] {
  cursor: pointer;
}

.user-table tr:nth-child(even) {
  background-color: #fafafa;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.pagination button {
  margin: 0 10px;
}

.table-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

@media (min-width: 600px) {
  .user-table th:nth-child(3),
  .user-table td:nth-child(3) {
    display: table-cell;
  }

  .pagination {
    justify-content: space-between;
  }
}

@media (min-width: 900px) {
  .user-table th:nth-child(4),
  .user-table td:nth-child(4) {
    display: table-cell;
  }
}
